In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [18]:
df = pd.read_csv("spam.csv", encoding = "ISO-8859-1", usecols=[0,1], skiprows=1,
                  names=["label", "message"])

In [19]:
df.head()

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [20]:
df['label'] = df.label.map({'ham':0,'spam':1})

In [21]:
df.head()

   label                                            message
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

# DATA SPLITTING

In [30]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.cross_validation import train_test_split
cv = CountVectorizer()
train_x, test_x, train_y, test_y = train_test_split(df['message'],df['label'],random_state=1)

In [44]:
df.shape[0], train_x.shape[0], test_x.shape[0]

(5572, 4179, 1393)

# BagOfWords

In [55]:
train_data = cv.fit_transform(train_x)
test_data = cv.transform(test_x)

# Naive Bayes

In [49]:
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()

In [50]:
nb.fit(train_data,train_y)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [58]:
p = nb.predict(test_data)

In [59]:
p.data

# Accuracy

In [60]:
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score

In [61]:
accuracy_score(test_y,p)

0.9856424982053122

In [64]:
precision_score(test_y,p)

0.9545454545454546

In [65]:
recall_score(test_y,p)

0.9333333333333333

In [66]:
f1_score(test_y,p)

0.9438202247191012

In [70]:
p[0]

0

In [72]:
test_y

1078    0
4028    0
958     0
4642    0
4674    1
5461    0
4210    0
4216    0
1603    0
1504    0
1783    0
3465    0
5534    0
4267    0
2498    0
4259    0
147     0
141     0
4517    0
3053    0
5392    0
2346    0
1242    0
3224    0
4872    0
3044    0
1660    0
3214    0
501     0
1827    0
       ..
2285    0
4829    0
2155    0
3555    0
4582    1
1010    0
2007    0
221     0
1961    0
1141    1
2270    0
2589    1
3779    0
1714    0
1463    0
2694    0
1925    0
3597    0
1988    0
932     0
2870    0
5458    0
2890    0
3658    0
4285    0
3207    0
4655    0
1140    0
1793    0
1710    0
Name: label, Length: 1393, dtype: int64